<html>

<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <style>
        .well {
            border-radius: 0;
            box-shadow: none;
        }

        textarea {
            width: 100%;
            min-height: 30rem;
            font-family: "Lucida Console", Monaco, monospace;
            font-size: 0.8rem;
            line-height: 1.2;
        }
    </style>
</head>

<body>
    <div class="container">
        <h2>JSON API Service</h2>
        <div>
            <% _.each(database, function(data, path){ %>
            <div class="well">
                <% _.each(data, function(d, method){ %>
                <a style="display: inline;"
                    href="http://localhost:<%= port %><%= path %>">http://localhost:<%= port %><%= path %></a>
                <div class="methods" style="display: inline;">

                    <span class="label label-primary"><%= method %></span>
                </div>
                <% if(data[method]["headers"] !== undefined) { %>
                <div class="panel panel-default">
                    <div class="panel-heading">Headers: </div>
                    <div class="panel-body">
                        <pre><%- JSON.stringify(data[method]["headers"], undefined, 4) %></pre>
                    </div>
                </div>
                <% } %>
                <% if(data[method]["request"] !== undefined) { %>
                <div class="panel panel-default">
                    <div class="panel-heading">Request: </div>
                    <div class="panel-body">
                        <pre><%- JSON.stringify(data[method]["request"], undefined, 4) %></pre>
                    </div>
                </div>
                <% } %>
                <% if(data[method]["response"] !== undefined) { %>
                <div class="panel panel-default">
                    <div class="panel-heading">Response: </div>
                    <div class="panel-body">
                        <pre><%- JSON.stringify(data[method]["response"], undefined, 4) %></pre>
                    </div>
                </div>
                <% } %>

                <% if(data[method]["responseError"] !== undefined) { %>
                <div class="panel panel-default">
                    <div class="panel-heading">ResponseError: </div>
                    <div class="panel-body">
                        <pre><%- JSON.stringify(data[method]["responseError"], undefined, 4) %></pre>
                    </div>
                </div>
                <% } %>


                <% }); %>

            </div>
            <% }); %>
        </div>
    </div>
</body>

</html>